main{
    width: 100%;
    
}

h1{    
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-img img{
    
    width: 300px;
    height: 300px;
    margin: 50px auto;
}

p{
    text-align: center;
    font-size: 20px;
}
main a{
    padding-left: 50px;
}

@media (min-width: 768px) {
    .container-img img{
    
        width: 500px;
        height: 500px;
        margin: 50px auto;
    }
    
    main{
        width: 80%;
        margin-left: auto;
    }
}
@media (min-width: 1300px) {
    
    main{
        width: 85%;
        margin-left: auto;
    }
}