/* GENERAL */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  color: #f2f2f2;
}
body {
  width: 100%;
  background-color: #151b27;

  text-shadow: 0 0 10px rgb(0, 0, 0);
}
h1 {
  width: 90%;
  height: auto;
  line-height: 50px;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto 50px;
  background-color: #28303f;
  border-radius: 15px;
}
main {
  width: 100%;
  padding-top: 80px;
}
.green {
  color: #50b649;
}
.red {
  color: #dd0606;
}
.orange {
  color: #f19155;
}
.blue {
  color: #33b1ff;
}

/* BOX ADMIN */
.box {
  width: 90%;
  background-color: #232f65;
  margin: 0 auto 40px;
  border: 1px solid black;
  box-shadow: 0 0 15px rgb(0, 0, 0, 55%);
}
.title-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #28303f;
  border-bottom: 1px solid black;
}
.container-resume {
  width: 90%;
  /* max-width: 750px; */
  margin: auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.number-resume {
  width: 48%;
  max-width: 250px;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.number-resume p {
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
.number-resume span {
  font-size: 2rem;
}
/* search tournament */
.container-search {
  width: 90%;
  /* max-width: 750px; */

  margin: auto;
  display: flex;
  justify-content: center;
}
.input-search-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
}
.input-search-container h3 {
  width: 100%;
}
.input-search-container input {
  width: 90%;
  height: 30px;
  color: black;
  border-radius: 10px;
  border: none;
}
.input-search-container img {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}
input::placeholder {
  text-align: center;
}
label img{
  transition: all 2s ease-in-out;
}
label img:active{
  
  transform: translateY(20px);
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 750px;
  margin: 25px 0 50px;
}

.search-btn {
  font-size: 20px;
}

/* result search tournament */
.container-result-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto 50px;
}

/* TABLEAU DES UTILISATEUR */
.box-button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.container-result-search-user{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto 50px;

}

.table-title {
  display: flex;
  width: 95%;
}
.table-title h4 {
  flex-basis: 100%;
  font-size: 16px;
  padding: 16px 0;
}
.table-title h4:nth-child(1){
  padding-left: 70px;
}
.list-users {
  width: 100%;
}
.list-item{
  list-style: none;
  display: flex;
  align-items: center;
}
.user-lign {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  text-decoration: none;
}
.user-lign > p {
  flex-basis: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #3e3e3e60 #dcdcdc;
  cursor: pointer;
}

.list-item:nth-child(odd) {
  background-color: #344282;
}
.list-item:hover {
  cursor: pointer;
  box-shadow: inset 0 0 20px 1px rgb(158, 219, 52, 0.1);
}
.name {
  display: flex;
  align-items: center;
}
.name img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.user-nickname {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

li > img {
  width: 24px;
  height: 24px;
}
.delete{
  background-color: transparent;

}
.input-search-container input {
  width: 80%;
}
@media (min-width: 768px){
  .input-search-container input {
    width: 90%;
  }

}
@media (max-width: 1024px) {  
  .table-title {
    display: none;
  }
  .list-users {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .user-lign {
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .user-lign > p {
    flex-basis: auto;
    margin: 10px 0;
  }
  .list-item{
    border-radius: 10px;
  }
  .list-item:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(3px);
  }
  .user-nickname img {
    display: none;
  }
}





/* responsive NAVBAR */
@media (min-width: 768px) {
  main{
    width: 80%;
    margin-left: auto;
  }
}
@media (min-width: 1300px)  {
  main{
    width: 85%;
    margin-left: auto;
  }
}


/* reponsive pour les number-resume */
@media (max-width: 1495px) and (min-width: 1195px) {
  .container-resume {
    max-width: 750px;
  }
}



